body {
  background-color: #060606;
}
.wrapper-outer {
  width: 1160px;
  margin: 48px auto 0;
}
.wrapper-inner {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: #515151;
  line-height: 16px;
  width: 419px;
  display: flex;
  justify-content: space-between;
}

.active {
  color: #fff;
}
