input {
  border: 0;
}

body {
  background-color: #060606;
}
.wrapperOuter {
  line-height: 40px;
  width: 1160px;
  margin: 48px auto 0;
  display: flex;
  justify-content: space-between;
  .wrapperInner {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    color: #515151;
    width: 419px;
    display: flex;
    justify-content: space-between;
  }
}

.active {
  color: #fff;
}

.logo {
  width: 58px;
}

.wrapper-inner-right {
  width: 436px;
  display: flex;
  justify-content: space-between;
  .link-list {
    width: 150px;
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
    }
    .image-brid,
    .image-wawa,
    .image-github {
      width: 20px;
    }
  }
  .wrapper-tool1 {
    background: #f6851b;
    height: 40px;
    line-height: 40px;
    width: 94px;
    text-align: center;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }
  .wrapper-tool2 {
    margin-left: 16px;
    width: 136px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #264cc4;
    border-radius: 10px;
    color: #fff;
    background: none;
    cursor: pointer;
  }
}
